article{
    width: 600px;
    height: 220px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
}

.imgBox{
    /* flex: 1 2 0%; */
    flex-wrap: wrap;
    width: 250px;
    margin: 0%;
    padding: 0%;
}

img{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin: 0px;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    object-position: left left;
    object-fit: cover;
}

.contInfo{
    position: relative;
    text-align: left;
    margin-left: 10px;
    padding:0%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-size: 90%;
}

h2,h6,h4{
    margin: 5px 0px 0px 20px;
}

span{
    font-size: 15px;
    color: gray;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 18px;
}
